[Unit]
Description=Enviroplus Web Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/enviroplusweb/
ExecStart=/bin/bash -c '/home/pi/.virtualenvs/enviroplusweb/bin/python /home/pi/enviroplusweb/enviroplusweb.py >> /home/pi/enviroplusweb/enviroplusweb.log 2>&1'
Restart=on-failure
RestartSec=10
StartLimitIntervalSec=500
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
